<%= form_with(model: template, local: true,  multipart: true) do |form| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title of the Template' %>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_field :description, class: 'form-control', placeholder: 'Template Brief description' %>
  </div>

  <div class="mb-3">
    <label for="file">Template</label> <%= file_field_tag "file", class: 'form-control' %>
  </div>

  <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> -->
  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-lg btn-block"  %>
  </div>
<% end %>

<!-- <iframe id="uploaded-template-preview" src="about:blank"></iframe>

<script type="text/javascript">
  $( document ).ready(function() {
    document.getElementById('file').onchange = function(){
    var file = this.files[0];

    var reader = new FileReader();
    reader.onload = function(progressEvent){
      // Entire file

      // var myFrame = $("#myframe").contents().find('body');
      // var textareaValue = this.result;
      // myFrame.html(textareaValue);
      $('#uploaded-template-preview').contents().find('html').html(this.result);

      $('#uploaded-template-preview *').contents().filter(function() {
        return (this.nodeType == 3) && this.nodeValue.match(/\S/);
      }).wrap("<span class='translation' />")

      $("#uploaded-template-preview body span.translation").map(function(index, dom){
        // console.log(index, value);
        let key = reFormatName($(dom).text());
        $(this).text(key);
        console.log($(this).text(key))
        // reFormatName()
      })

    };
    reader.readAsText(file);
    };
  })
</script> -->
