<%= form_with(model: template, local: true,  multipart: true) do |form| %>
  <% if template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control', placeholder: 'Title of the Template' %>
  </div>

  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_field :description, size: '12x30', class: 'form-control', placeholder: 'Template Brief description' %>
  </div>

  <div class="mb-3">
    <label for="file">Template</label> <%= file_field_tag "file", class: 'form-control' %>
  </div>

  <!-- <h4 class="mb-3">Select Language</h4> -->
  <label for="file">Language</label>
  <div class="d-block my-3">
    <% SUPPORTED_LOCALE.each do |locale|%>
      <div class="custom-control custom-checkbox">
        <%if @template.locales.include?(locale[0].to_s)%>
          <input type="checkbox" disabled="disabled" name="template[locales][]" value="<%=locale[0]%>" class="custom-control-input" id='translation_text_local_<%=locale[0]%>'>
        <%else%>
          <input type="checkbox" name="template[locales][]" value="<%=locale[0]%>" class="custom-control-input" id='translation_text_local_<%=locale[0]%>'>
        <%end%>
        <label class="custom-control-label" for='translation_text_local_<%=locale[0]%>'><%=locale[1]%></label>
      </div>
    <% end %>
  </div>
  <hr class="mb-4">
  <!-- <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> -->
  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-lg "  %>
  </div>
<% end %>
