<p id="notice"><%= notice %></p>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Translated Templates</h1>
  <p class="lead">Following are the Translated Templates available in the system.</p>
</div>


<div class="container-fluid">
  <div class="row">

    <% @translation_texts.each do |translation_text| %>
      <div class="col-4">
        <div class="card <%= translation_text.freez ? 'freez-card' : ''%>">
          <%unless translation_text.versions.blank?%>

              <div class="card-body">
                  <div class="text-center">
                      <img alt="" class="rounded-circle mt-4" src="/assets/users/5.jpg">
                      <h4 class="card-widget__title text-dark mt-3"><%= @template.title%><%= translation_text.freez ? ' <i class="fa fa-lock gradient-1-text"></i>'.html_safe : ''%></h4>
                      <p class="text-muted"><%= translation_text.versions.last.updated_at.strftime('%B %d, %Y at %I:%M %p')%></p>
                      <h5 class="card-widget__title text-dark mt-3"><%= get_local_word(translation_text.local.to_s) %></h5>
                      <!-- <a class="btn gradient-4 btn-lg border-0 btn-rounded px-5" href="javascript:void()"><%= translation_text.versions.count%> Versions</a> -->
                  </div>
              </div>
              <div class="card-footer border-0 bg-transparent">
                  <div class="row">
                      <div class="col-12 pt-3 text-center">
                        <%= link_to template_translation_text_version_path(@template, translation_text, translation_text.versions.try(:last)), class: "btn gradient-3 btn-lg border-0 btn-rounded px-5" do%>
                          <i class="fa fa-language gradient-1-text" aria-hidden="true"></i> Preview
                        <%end%>
                      </div>
                      <div class="col-12 pt-3 text-center">
                        <%= link_to template_translation_text_versions_path(@template, translation_text), class: "btn gradient-4 btn-lg border-0 btn-rounded px-5" do%>
                          <i class="fa fa-files-o gradient-1-text" aria-hidden="true"></i> <%= translation_text.versions.count%> Versions
                        <%end%>
                      </div>
                  </div>
              </div>

          <%else%>
              <div class="card-body">
                  <div class="text-center">
                      <img alt="" class="rounded-circle mt-4" src="/assets/users/5.jpg">
                      <h4 class="card-widget__title text-dark mt-3"><%= @template.title%> in <%= SUPPORTED_LOCALE[translation_text.local.to_sym]%><%= translation_text.freez ? ' <i class="fa fa-lock gradient-1-text"></i>'.html_safe : ''%></h4>
                      <p class="text-muted"><%#= translation_text.versions.last.updated_at.strftime('%B %d, %Y at %I:%M %p')%></p>
                      <h5 class="card-widget__title text-dark mt-3"><%= get_local_word(translation_text.local.to_s) %></h5>
                      <!-- <a class="btn gradient-4 btn-lg border-0 btn-rounded px-5" href="javascript:void()"><%= translation_text.versions.count%> Versions</a> -->
                  </div>
              </div>
              <div class="card-footer border-0 bg-transparent">
                  <div class="row">
                      <div class="col-12 pt-3 text-center">
                        <h4>The translation in <%= get_local_word(translation_text.local.to_s) %> is being processed, please wait</h4>
                      </div>
                  </div>
              </div>
          <%end%>
        </div>
      </div>
    <% end %>

  </div>
</div>

<%= link_to templates_path(), class: 'btn btn-primary btn-circle btn-xl add-new-template' do %>
  <i class="fa fa-history"></i>
<%end%>
