<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @translation_text.template_id %>
</p>

<p>
  <strong>Local:</strong>
  <%= @translation_text.local %>
</p>

<p>
  <strong>Key value:</strong>
  <%= @translation_text.key_value %>
</p>

<%= link_to 'Edit', edit_translation_text_path(@translation_text) %> |
<%= link_to 'Back', translation_texts_path %>
